server:
  port: 8087

spring:
  application:
    name: diet

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8763/eureka
  instance:
    hostname: localhost