.img1{
    height: 270px;
    background: linear-gradient(93.59deg, rgba(0, 0, 0, 0.6) 13.61%, rgba(0, 0, 0, 0) 87.41%), url(https://i.imgur.com/lvE1sGT.jpg) fixed center center;
    background-size: cover;
}
.tituloCnts{
    font-size: 70px !important;
    color: #ffffff !important;
}
.introC1{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.card1 {
    width: 400px;
    height: 250px;
    background-image: url("https://i.imgur.com/neGyMWx.jpg") !important;
    background-size: cover;
    background-position: center;
}
.margem{
    margin-top: 2px;
    margin-bottom: 10px;
}
.text-decoration-none{
    text-decoration: none;
}