server:
  port: 8083

spring:
  config:
    import: configserver:http://localhost:8888
  application:
    name: 'pacient'
    
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url: 
      defaultZone: http://localhost:8763/eureka
  instance:
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    info:
      enabled: true 
    auditevents:
      enabled: true
  health:
    defaults:
      enabled: true