.backF2 {
    background-color: #590202;
}

.MenuNavbar {
    color: white;
}

.MenuNavbar:hover {
    color: #F27127 !important;
    transform: scale(1.1) !important;
}

.padding-left-navbar {
    padding: 10px !important;
}

.cursor-navbar {
    cursor: pointer;
    padding: 10px !important;
}