.titulo{
    color: blue;
    text-align: center;
}

.imgHome{
    background-image: url(https://www.feitodeiridium.com.br/wp-content/uploads/2018/05/prato-colorido-1200x600.jpg) !important;
    background-size: cover !important;
    background-position: center !important;
    height: 500px !important;
}

.botaoH{
    background-color: #F27127 !important;
    opacity: 0.75!important;
    color: white !important;
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif !important;
}



