.bgCadastroFoto {
    background-image: url('https://i.imgur.com/nIuACN6.jpeg');
    background-repeat: no-repeat;
    width: 100% !important;
    min-height: 100vh;
    background-size: cover;
    transform: scaleX(-1) scaleY(-1);
}

.boxCadastro {
    position: relative !important;
    max-height: 80% !important;
    display: flex;
    justify-content: center;
    padding: 5% 5%;
    transform: scaleX(-1) scaleY(-1);
}

.boxJaTemConta {
    transform: scaleX(-1) scaleY(-1);
    align-items: center;
}

.paperCadastro {
    max-height: 68vh !important;
    overflow-y: auto;
    border-radius: 16px !important;
    width: 500px;
    transform: translateX(64px) !important;
}

/* Designing for scroll-bar */
.paperCadastro::-webkit-scrollbar {
    width: 8px;
    max-height: 20vh !important;
}

/* Track */
.paperCadastro::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 16px;
}

/* Handle */
.paperCadastro::-webkit-scrollbar-thumb {
    background: #590202;
    border-radius: 5px;
}

.paperCadastroTitulo {
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif;
    color: #590202 !important;
}

.btnCadastrar {
    background: #f2c777 !important;
    font-weight: bold !important;
}

.btnCadastrar:hover {
    background-color: #d90404 !important;
    color: white;
}

.MuiOutlinedInput-root {
    border-radius: 8px !important;
}