.bgCadastroFoto{
    background-image: url('https://th.bing.com/th/id/OIP.wN_81BkgNQ4qKDD4436GoAHaEo?pid=ImgDet&rs=1');
    background-repeat: no-repeat;
    width: 100% !important;
    min-height: 100vh;
    background-size: cover;
    transform: scaleX(-1) scaleY(-1);
}

.boxCadastro{
    display:flex;
    justify-content: center;
    padding: 5% 5%;
    transform: scaleX(-1) scaleY(-1) ;
}

.boxJaTemConta{
    transform:  scaleX(-1) scaleY(-1);
    align-items: center;
}

.paperCadastro{
    border-radius: 16px !important;
    width: 560px;
    transform: translateX(64px) !important;
}

.paperCadastroTitulo{
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif;
    color:  #d90404 !important;
}


.btnCadastrar{
    background: #f2c777 !important;
    font-weight: bold !important;
    
}

.btnCadastrar:hover {
    background-color: #d90404 !important;
    color: white;
}

.MuiOutlinedInput-root {
    border-radius: 8px !important;
}