.back{
    background-color: #590202d7;
}

.MuiTypography-gutterBottom{
    margin-bottom: 0px !important;
}

.backF2{
    background-color: #590202;
}

.text{
    font-size: 30px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.social{
    font-size: 50px !important;
    margin: 20px;
    color: #F2C777 !important;
    transition: transform 1s !important;
}

.social:hover {
    transform: scale(1.2);
    color: #F2C777 !important;
}