.botao {
    background-color: #f2c777 !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 18px !important;
    border-color: #f2c777 !important;
    width: 100%;
    height: 48px;
    transition: 0.4s;
}

.botao:hover {
    background-color: #f27127 !important;
}

.text-decorator-none {
    text-decoration: none;
}

.texto {
    font-weight: bold !important;
    color: #590202 !important;
}

.imagem {
    background-image: url(https://i.imgur.com/nIuACN6.jpeg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.cursor {
    cursor: pointer;
    font-weight: bold !important;
}

.login-c {
    opacity: 100%;
}

.MuiFormLabel-root.Mui-focused{
    color: #590202 !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #590202 !important;
}